<nav class="navbar" id="navbar">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="size-2">Bitcoin Overpass</h1>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <!-- <a href="#" class="navbar-item">How it works</a> -->
                <!-- <a href="#" class="navbar-item">What we do</a> -->
                <a href="/login" class="navbar-item">Login</a>
            </div>
        </div>
    </div>
</nav>
