<nav class="navbar" id="navbar">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <a href="/">
                    <h1 class=" muli has-text-dark">Bitcoin Overpass</h1>
                </a>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <% if (user) { %>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="/profile" class="navbar-link"><%= user.username %></a>
                        <div class="navbar-dropdown">
                            <% if (user.admin == true) { %>
                                <a href="/admin" class="navbar-item">Control Panel</a>
                            <% } %>
                            <a href="/logout" class="navbar-item">Logout</a>
                        </div>
                    </div>

                <% } else {%>
                    <a href="/login" class="navbar-item">Login</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
