<!DOCTYPE html>
<html lang="en">
    <%- include partials/head.ejs %>
<body>
    <%- include partials/navbar.ejs %>

    <div class="hero is-medium is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-half">
                        <h1 class="black size-4 lh">Select Your Item, Pay In Crypto. <br> We'll do the rest</h1>
                        <p class="content muli has-text-grey">
                            We understand it can be frustrating, having a wallet full of crypto but being limited 
                            to what you can buy due to the few places out there accepting them as payment. We hope to act
                            as the bridge between you and the products you want.
                        </p>

                        <!-- <button class="button">Get Started</button> -->
                    </div>  
                    <div class="column is-1"></div>
                    <div class="column is-4">
                        <form action="/signup"  method="POST" id="form">
                            <div class="field">
                                <label for="name">Username</label>
                                <div class="control">
                                    <input type="text" class="input" name="username">
                                </div>
                            </div>

                            <div class="field">
                                <label for="name">Email address</label>
                                <div class="control">
                                    <input type="text" class="input" name="email">
                                </div>
                            </div>

                            <div class="field">
                                <label for="password">Password</label>                            
                                <div class="control">
                                    <input type="password" class="input" name="password">
                                </div>
                            </div>

                            <div class="field">
                                <label for="password">Confirm Password</label>                            
                                <div class="control">
                                    <input type="password" class="input" name="confirm-password">
                                </div>
                            </div>

                            
                            <br>
                            <div class="field">
                                <div class="control">
                                    <input type="submit" class="button is-success is-fullwidth" value="Sign Up">   
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>

            
        </div>
    </div>
    <div class="is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-half">
                        <h1 class="size-2 sub-mar">What we do</h1>
                        <p class="muli has-text-grey">
                            We offer the experience of purchasing from highstore retailers and online stores, with a selection
                            of cryptocurrencies, completely <u>anonymously</u> should you wish.

                            Deposit your Bitcoin, create a custom order containing the website URL, item of choice, item id or reference number
                            and address for delivery. Once your order is placed, we will purchase your item(s) through our company and save you 
                            from nasty exchange and transaction fees. <br><br> Your order's progress will be updated in real time, so you will be able to follow
                            your order every step of the way. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="hero is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third"></div>
                    <div class="column is-one-third"></div>
                    <div class="column is-one-third"></div>
                </div>
            </div>
        </div>
    </div> -->
</body>
</html>
