<!DOCTYPE html>
<html lang="en">
    <%- include partials/head.ejs %>
<body>
    <%- include partials/navbar.ejs %>

    <div class="hero is-medium is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-half">
                        <h1 class="black size-4 lh">Select Your Item, Pay In Crypto. <br> We'll do the rest</h1>
                        <p class="content muli">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil delectus quibusdam qui numquam dolore, cupiditate quae voluptatibus earum. Non distinctio minima ab, unde repellat aperiam nesciunt delectus totam tempora doloremque.
                        </p>

                        <button class="button">Get Started</button>
                    </div>  
                    
                    <div class="column is-half">
                        <!-- <img src="https://www.canbike.org/public/images/030114/Bitcoin_Logo.png" class="image" width="600px" height="480px"> -->
                    </div>
                    
                </div>
            </div>

            
        </div>
    </div>
</body>
</html>