<!DOCTYPE html>
<html lang="en">
<%- include partials/head.ejs %>
<body>
    <%- include partials/navbar.ejs %>
    
    <div class="hero is-medium is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-half">
                        <h1 class="black size-4" style="line-height: 50px"><%=user.username%></h1>
                        <h3 class="muli has-text-grey">New User</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>